@font-face {
    font-family: 'Alte-DIN-1451-Mittelschrift';
    src:url('type/Alte-DIN-1451-Mittelschrift.ttf.woff') format('woff'),
        url('type/Alte-DIN-1451-Mittelschrift.ttf.svg#Alte-DIN-1451-Mittelschrift') format('svg'),
        url('type/Alte-DIN-1451-Mittelschrift.ttf.eot'),
        url('type/Alte-DIN-1451-Mittelschrift.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


main {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

header, main, footer {
  width: 600px;
  margin: 0 auto 0 auto;
  padding: 15px;
}

h1, h2, h3, nav, footer {
  font-family: 'Alte-DIN-1451-Mittelschrift', Helvetica, sans-serif;
}
header h1 {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 30px 0;
}

nav {
  text-align: center;
}

nav li {
  display: inline;
  margin-right: 15px;
}

nav li:last-child{
  margin-right: 0px;
}

img {
    margin-bottom: 15px;
}

.image {
  position: relative;
}

.image-header {
  position: absolute;
  bottom: 0px;
  left: 16px;
}

h2 {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  color: #FFF;
  text-shadow: 5px 5px #111;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

p {
  line-height: 20px;
  margin-bottom: 15px;
  text-align: justify;
  text-justify: inter-word;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin-bottom: 15px;

}
li {
  line-height: 20px;
}

ul ul li {
  margin-left: 15px;
}

footer p {
  text-align: center;
}

form {
  margin-bottom: 15px;
}

textarea, input[type=email] {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  width: 300px;
    padding: 5px;
}

textarea {
  height: 100px;

}
